/* ABOUT */
#about-canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -999999;
}

#about-content-div {
    min-height: 100vh;
    max-height: 100vh;
}

#about-div-in {

    top: 0;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 100vh;
    max-height: 100vh;

    float: left;
    clear: both;

    margin: 0 !important;

    padding: 0 7.5%;

    color: var(--secondary);
}

#about-summ-over-div {
    max-height: 70vh;
    margin: 20vh 0 10vh;
    overflow-y: scroll;
    padding-right: 3vw;
    scrollbar-width: thin;
    box-sizing: border-box;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Width */
#about-summ-over-div::-webkit-scrollbar {
    width: 1px;
}

/* Handle */
#about-summ-over-div::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

#about-summ-over-div h2 {
    margin: 0;
    font-size: 25px;
    word-spacing: -15px;
    color: var(--secondary) !important;
    font-family: var(--main-font) !important;
}

.about-page-expl {

    max-width: 100%;
    hyphens: auto;

    text-align: justify;
    color: var(--secondary) !important;

    font-size: 17px;
    word-break: break-word;
    font-family: var(--secondary-font) !important;
}

.about-a {
    color: white;
    font-weight: bold;
}

.about-a:hover {
    color: #222;
    font-weight: bold;
    text-decoration: underline dotted;
}

/* CONTACTS */

#contacts-div-in {

    min-width: 50vw;
    max-width: 50vw;
    min-height: 100vh;
    max-height: 100vh;

    margin: 0 0 0 auto;

    padding: 25vh 7.5% 7.5%;

    color: var(--primary);
    background-color: transparent;
}

#contacts-summ-over-div {
    height: 60vh;
    max-height: 60vh;
    text-align: center;
}

#contacts-summ-over-div a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#contacts-square {

    height: 52.5vh;
    padding: 10vh 0 0;
    background-color: transparent;
}

#contacts-tag {

    text-align: center;
    margin-bottom: 7.5vh;

    font-size: 50px;
    color: var(--secondary);
    font-family: var(--main-font) !important;
}

.contact {

    width: auto;
    margin-bottom: 1vh;

    font-size: 30px;
    text-align: center;
    color: var(--secondary);
    font-family: var(--code-font) !important;
}

#contacts-summ-over-div a:hover {
    text-decoration: underline dotted var(--tertiary);
}

#contacts-summ-over-div a:hover:after {
    text-decoration: none;
}

/* SMALL */

#about-div-in-small {

    width: 100vw;
    margin: 0 !important;
    padding: 15vh 12.5%;

    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0.6);
}

#about-summ-over-div-small {
    padding-right: 2vw;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

#about-summ-over-div-small h2 {
    margin: 0 0 3vh 0;
    font-size: 6vh;
    word-spacing: -15px;
    text-align: center;
    color: var(--secondary) !important;
    font-family: var(--main-font) !important;
}

.about-page-expl-small {

    max-width: 100%;
    hyphens: auto;

    text-align: justify;
    color: var(--secondary) !important;

    font-size: 18px;
    word-break: break-word;
    font-family: var(--secondary-font) !important;
}

/* ------------------------------------------------ */

#contact-div-small {
    width: 100%;
}

#contacts-div-in-small {
    margin: 5% 5%;
    padding: 12.5vh 15%;
    border: 2px dotted var(--tertiary);
    background-color: rgba(var(--secondary-rgb), 0.6);
}

#contacts-tag-small {

    text-align: center;
    margin-bottom: 8vh;

    font-size: 7vh;
    color: #363636 !important;
    font-family: var(--main-font) !important;
}

.contact-small {

    margin-bottom: 1vh;

    font-size: 4.5vh;
    text-align: center;
    color: #333 !important;
    font-family: var(--secondary-font) !important;
}

#contacts-summ-over-div-small a:hover {
    text-decoration: 3px underline dotted var(--tertiary);
}

#contacts-summ-over-div-small a:hover:after {
    text-decoration: none;
}
