@font-face {
    font-family: "Hack";
    src: url("../Fonts/Hack-Regular.ttf");
}

:root {
    --primary: #ffbab7; /* #00868B;  1b2845 */
    --secondary: #EBEBD3;
    --secondary-rgb: 235, 235, 211;
    --tertiary: #333333;

    --code-foreground: var(--secondary);
    --code-background: #5296A5;
    --code-background-rgb: 11, 11, 11;

    --main-font: 'Major Mono Display', monospace;
    --secondary-font: 'Raleway', sans-serif;
    --special-font: 'Inria Sans', sans-serif;
    --code-font: 'Hack', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    scrollbar-width: thin;
    background-color: transparent !important;
    scrollbar-color: var(--primary) var(--secondary);
}

/* Width */
body::-webkit-scrollbar {
    width: 0;
}