/* HEADER BIG */
.navbar {

    top: 0;
    width: 100vw;
    z-index: 50000;
    position: fixed;

    margin: 0 !important;
    padding: 0 !important;
}

#navbar-row {

    top: 0;
    width: 100vw;
    z-index: 50000;
    position: fixed;

    margin: 0 !important;
    padding: 0.5% !important;
    padding-left: 1.5vw !important;
    padding-right: 2vw !important;

    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-brand {

    margin-left: 1.5vw;
    padding-top: 0.5vh;

    font-size: 23px !important;
    color: var(--secondary) !important;
    font-family: var(--main-font) !important;
}

.nav-item {
    margin-left: 1.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.nav-link {

    float: left;
    padding: 0 !important;

    font-weight: bold;
    color: var(--tertiary);
    font-size: 17px !important;
    font-family: var(--secondary-font) !important;
}

.current {
    padding: 0 !important;
}

.current li {
    color: var(--tertiary);
    border-bottom: 3px solid var(--tertiary);
}

.external li {

    background: linear-gradient(to left, var(--tertiary) 0%, var(--tertiary) 100%) repeat-y 0 100%;

    background-size: 0 0;
    transition: background-size .5s;

    text-decoration: none;
    color: var(--tertiary);
}

.external li:hover {
    background-size: 100% 100px;
}

.external:hover li {
    color: var(--secondary) !important;
}

/* FOOTER */
#footer-div-site {

    height: 100%;
    max-height: 6vh;
    padding: 1%;
    display: block;
    margin-top: auto;

    background-color: rgba(0, 0, 0, 0.7);
}

#copyright {
    display: block !important;
}

#copyright-text {

    margin: 0;
    float: left !important;

    color: var(--secondary);
    font-family: var(--secondary-font) !important;
}

#copyright-text h6 {
    margin: 0 0.4vw 0 0;
}

#copyright-sy {
    margin-left: 5px !important;

    color: var(--secondary);
    font-family: var(--secondary-font) !important;
}

#copyright-sy h6 {
    margin: 0;
}

