/* HOME */

#home-content-div {

    min-height: 100vh;
    max-height: 100vh;
    padding: 25vh 10% 10%;
}

#h1-hello-name {
    width: auto;
    padding: 0 !important;
    margin: 0 0 -3vh 0 !important;

    font-size: 8.5vw;
    text-align: justify;
    white-space: pre-line;
    color: var(--secondary);
    font-family: var(--main-font) !important;
}

#h1-hello-surname {
    width: auto;
    padding: 0 !important;
    margin: 0 0 1vh 0 !important;

    font-size: 8.5vw;
    text-align: justify;
    white-space: pre-line;
    color: var(--secondary);
    font-family: var(--main-font) !important;
}

#h2-hello {
    width: auto;
    font-size: 3.25vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    text-align: justify;
    display: inline-block;
    font-weight: bold;
    color: var(--primary);
    background-color: var(--secondary);
    font-family: var(--secondary-font) !important;
}

#me {
    padding-left: 0.75vw;
    font-size: 3.25vw;
    font-weight: bold;
    color: var(--secondary);
    font-family: var(--secondary-font) !important;
}

#blinking_write {
    font-size: 3.5vw;
    font-weight: bold;
    color: transparent;
    font-family: var(--secondary-font) !important;
    animation: blink 0.75s linear infinite;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* SMALL */

#home-content-div-small {

    min-height: 97.5vh;
    padding: 35vh 10% 10%;
    text-align: center;

}

#h1-hello-name-small {

    width: auto;
    padding: 0 !important;
    margin: 0 0 -1vh 0 !important;

    font-size: 9vw;
    text-align: center;
    white-space: pre-line;
    color: var(--secondary);
    font-family: var(--main-font) !important;
}

#h1-hello-surname-small {

    width: auto;
    margin: 0 0 3vh 0 !important;
    padding: 0 !important;

    font-size: 9vw;
    text-align: center;
    color: var(--secondary);
    font-family: var(--main-font) !important;
}

#h2-hello-small {

    width: auto;
    font-size: 5vw;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: bold;
    padding-top: 0.75vw;
    margin: 0;
    color: var(--primary);
    background-color: var(--secondary);
    font-family: var(--secondary-font) !important;

    display: inline-block;
}

#me-small {
    margin-right: 0;
    padding-left: 0.75vw;
    font-size: 5vw;
    font-weight: bold;
    color: var(--secondary);
    font-family: var(--secondary-font) !important;
    display: inline-block;
}

#blinking_write-small {
    margin-left: 0;
    font-size: 5vw;
    font-weight: bold;
    color: transparent;
    font-family: var(--secondary-font) !important;
    animation: blink 0.75s linear infinite;
    display: inline-block;
}

#more-small {
    width: 100%;
    font-size: 48px;
    text-align: center;
    color: var(--secondary);
}
