@font-face {
    font-family: "Hack";
    src: url("../Fonts/Hack-Regular.ttf");
}

:root {
    --primary: #ffbab7; /* #00868B;  1b2845 */
    --secondary: #EBEBD3;
    --secondary-rgb: 235, 235, 211;
    --tertiary: #333333;

    --code-foreground: var(--secondary);
    --code-background: #5296A5;
    --code-background-rgb: 11, 11, 11;

    --main-font: 'Major Mono Display', monospace;
    --secondary-font: 'Inria Sans', sans-serif;
    --tertiary-font: 'Hack', sans-serif;
    --fourth-font: 'Share Tech Mono', monospace;
    --fifth-font: 'Raleway', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
    background-color: transparent !important;

    background-size: 100% 100%;
    background-image: url("../Imgs/body.jpg");
}

/* Width */
body::-webkit-scrollbar {
    width: 7px;
    border: 1px solid var(--tertiary);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--tertiary);
}
