/* PROJECT PAGE */

#project-content-div {
    min-height: 94vh;
    max-height: 94vh;

    margin: 0 !important;
    /*background-size: 100%;
    background-image: url("../Imgs/proj.jpg");*/
}

#project-page-div {

    top: 0;
    width: 50vw;
    min-height: 94vh;
    max-height: 94vh;

    float: left;
    clear: both;

    margin: 0 !important;

    padding: 15vh 7.5% 7.5%;

    color: var(--primary);
    background-color: rgba(0, 0, 0, 0.4);
}

#project-code-div {

    top: 0;
    width: 50vw;
    min-height: 94vh;
    max-height: 94vh;

    margin: 0 0 0 auto;

    padding: 15vh 3% 5% 5%;
    background-color: rgba(var(--secondary-rgb), 0.9);
}

#project-page-proj-code {

    padding: 0.2% 0.5%;
    display:inline-block;

    background:
            linear-gradient(
                    to left, var(--secondary) 0%,
                    var(--secondary) 100%
            );

    background-size: 0 0;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .75s;

    color: var(--primary);
    font-family: var(--main-font) !important;
}

#project-page-proj-name {

    padding: 0.5%;
    margin-top: -0.25%;
    display:inline-block;

    background:
            linear-gradient(
                    to left, var(--secondary) 0%,
                    var(--secondary) 100%
            );

    background-size: 0px 0px;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .75s;

    color: var(--primary);
    font-family: var(--main-font) !important;
}

.proj-page-effect {

    background-size: 100% 10px !important;
    color: var(--primary) !important;
}

#project-page-proj-text {

    max-width: 30vw;
    min-height: 40vh;
    max-height: 41vh;
    padding-top: 7.5%;
    padding-right: 2vw;

    text-align: justify;
    overflow-y: scroll;
    color: var(--secondary) !important;

    font-size: 19px;
    font-family: var(--secondary-font) !important;
}

/* Width */
#project-page-proj-text::-webkit-scrollbar {
    width: 5px;
    background: var(--primary);
}

/* Handle */
#project-page-proj-text::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

#proj-button-row {
    max-width: 30vw;

    margin: 3.5vh 0 0;
}

.project-button {

    width: 7.5vw;
    padding: 5px 10px;

    border: 0;
    color: var(--primary);

    background:
            linear-gradient(
                    to left, var(--secondary) 0%,
                    var(--secondary) 100%
            );

    background-size: 0 0;
    background-position: 0 100%;
    background-repeat: repeat-y;
    transition: background-size .75s;

    font-size: 17px;
    font-family: var(--fourth-font) !important;
}

#prev-butt {
    margin-right: 15vw;
}

#prev-butt:focus{outline:none;}
#next-butt:focus{outline:none;}

#github-div {
    margin: 3.5vh 0 0;
}

#github-text {
    margin-right: 1vw;

    font-size: 17px;
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    font-family: var(--secondary-font) !important;
}

.project-button-effect {
    background-size: 100% 10px !important;
}

#project-code-over-div {
    height: 64vh;
    max-height: 65vh;
    overflow-y: scroll;
    padding-right: 2vw;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
}

/* Width */
#project-code-over-div::-webkit-scrollbar {
    width: 5px;
    background: var(--secondary);
}

/* Handle */
#project-code-over-div::-webkit-scrollbar-thumb {
    background: var(--primary);
}

#code-tag {

    margin-bottom: 3vh;
    padding-right: 2.5vw;

    font-size: 35px;
    color: var(--primary) !important;
    font-family: var(--main-font) !important;
}

.subsession-title {
    margin-top: 3.5vh;
    margin-bottom: .5vh;

    font-size: 20px;
    color: var(--primary) !important;
    font-family: var(--tertiary-font) !important;
}

.project-page-proj-expl {

    max-width: 100%;

    text-align: justify;
    color: var(--primary) !important;

    font-size: 16px;
    word-break: break-word;
    text-align-last: left;
    font-family: var(--secondary-font) !important;
}

.project-page-proj-code {

    max-width: 100%;

    padding: 5% 7.5%;

    font-size: 12px;
    line-height: 1.4;
    text-align: justify;
    word-break: break-word;
    color: var(--code-foreground) !important;
    font-family: var(--tertiary-font) !important;
    background-color: var(--code-background) !important;
}

.project-page-proj-img {
    width: 100%;
    margin-top: 5%;
    border: 5px solid var(--primary);
}
